<ion-view view-title="New Message">
  <ion-content>

    <form name="messageForm" ng-submit="scheduleMessage(message)" novalidate>
      <div class="list">


          <label class="item item-input">
            <input type="tel" name="contact" ng-model="message.contact" ui-mask="(999) 999-9999" required/>
            <!-- <p ng-show="messageForm.contact.$error.minlength" class="help-block">too short</p>
            <p ng-show="messageForm.contact.$error.maxlength" class="help-block">too long</p> -->
          </label>

          <div id="datepicker" pickadate ng-model="message.date" min-date="minDate" max-date="maxDate" class="ng-isolate-scope ng-pristine ng-valid"></div>

        <!-- <label class="item item-input">
          <input type="date" ng-model="message.date" min="minDate"  placeholder="select date" required>
        </label> -->

          <label class="item item-input">
            <input type="time" ng-model="message.date" placeholder="select time" required>
        </label>

        <label class="item item-input">
          <textarea ng-model="message.content" placeholder="type your message here" required></textarea>
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="messageForm.$invalid">Schedule</button>
        </label>

      </div>
    </form>

  </ion-content>
</ion-view>
