<ion-view view-title="Enter Phone Number">
  <ion-content>
    <form name="enterPhoneForm" ng-submit="sendVerificationCode(message)">
      <div class="list">
        <label class="item item-input">
          <input type="tel" ng-model="message.contact" ui-mask="(999) 999-9999" required/>
        </label>
        <label class="item">
          <button ng-disabled="enterPhoneForm.$invalid" class="button button-block button-positive" type="submit">Send Verification Code</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>


