<ion-view view-title="Login" id="login-container">
  <h1 class="title-override">Hummingbird</h1>
  <h2 class="title-override subtitle">texts delivered when you want.</h2>
  <img class="hummingbird-background" src="../img/hummingbird-background-crop.png" alt="Hummingbird logo">
  <div id="login-form" class="list list-inset">
    <label class="item item-input">
      <input type="text" name="email" placeholder="Your email">
    </label>
    <label class="item item-input">
      <input type="password" name="password" placeholder="Your password">
    </label>
  </div>
  <div class="button-container">
    <button class="register block-button button-positive" ng-click="register()">Register</button>
    <button class="login block-button button-positive" ng-click="login()">Login</button>
  </div>
</ion-view>
