<ion-view view-title="Scheduled">
  <ion-content>
  <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshScheduled()"></ion-refresher>

  <ion-list>
    <ion-item ng-repeat="scheduledMessage in scheduledMessages">
      <p>To: ({{scheduledMessage.to.slice(0,3)}}) {{scheduledMessage.to.slice(3,6)}}-{{scheduledMessage.to.slice(6,10)}}</p>
      <p>{{scheduledMessage.body}}</p>
      <p>{{scheduledMessage.send_at_datetime | date}}</p>
    </ion-item>
  </ion-list
  </ion-content>
</ion-view>

