/* Empty. Add your own CSS if you like */
#login-container {
  background-image: url(../img/hummingbird-background.png);
  background-size: cover;
  height: 100%;
}

.block-button {
  /*background-color: #ad3333;*/
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #bbb;
  font-weight: bold;
  font-family: 'Comfortaa', sans-serif;
}

#login-form {
  font-family: 'Comfortaa', sans-serif;
  margin: 0 auto;
  margin-top: 80%;
  /*opacity: 30%;*/
  width: 50%;
}

input#login-form {
  text-align: center;
}

#login-button:active {

}

.button-container {
  margin: 2% auto;
  max-width: 50%;
}

button.register  {
  border: 2px solid #ba2d22;
  background-color: #ad3333;
  float: left;
  font-size: 1.0em;
  margin: auto;
  width: 50%;
}

button.login  {
  border: 2px solid navy;
  background-color: #0D355A;
  font-size: 1.0em;
  margin: auto;
  width: 50%;
}

.title-override {
  font-family: 'Fredoka One', sans-serif;
  font-size: 2.8em;
  color: #444;
  text-align: center;
  margin: 0 auto;
  padding: 9px;
}

.subtitle {
  font-size: 1em;
  padding: 0px;
}

.bar.bar-stable {
  background-color: #8a8a8a;
}

.bar.bar-stable .title {
  color: white;
  font-family: 'Fredoka One', sans-serif;
}

#sidebar-menu {
  background: url(../img/hummingbird-background-flipped.png);
  background-size: cover;
  height: 50%;
  margin-top: 100%;
  opacity: 0.8;
}

.popup-head {
  background-color : white;
  background: url(../img/white.png) no-repeat center;
  background-size: contain;
  opacity: 0.7;
  height: 128px;
  color: black;
}

.popup-body {
  /*background-color : white;*/
  border-radius: 10px;
}

.directions {
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  padding-top: 20px;
}

.input-center {
  text-align: center;
}

textarea {
  height: 100px;
}
