/* Empty. Add your own CSS if you like */
 #login-container {
  background-image: url(../img/hummingbird-background.png);
  background-size: cover;
 }

.button.button-block {
  background-color: #ad3333;
  color: white;
  border: 2px solid #ba2d22;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #bbb;
  font-weight: bold;
}

#login-button {
  width: 80%;
  margin: 0 auto;
  font-family: 'Comfortaa';
  margin-top: 100%;
}

.title-override {
  font-family: 'Fredoka One';
  font-size: 2.8em;
  color: #444;
  text-align: center;
  margin: 0 auto;
  padding: 9px;
}

.subtitle {
  font-size: 1em;
  padding: 19px;
}
